# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.env
.venv/
venv/
.envrc

# Environnements / IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Archives temporaires
*.log
*.tmp
*.bak